@font-face {
	font-family: Montserrat;
	font-display: swap;
	src: url(../fonts/Montserrat-Bold.woff2) format('woff2'),
		url(../fonts/Montserrat-Bold.woff) format('woff');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: Montserrat;
	font-display: swap;
	src: url(../fonts/Montserrat-Regular.woff2) format('woff2'),
		url(../fonts/Montserrat-Regular.woff) format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: SF;
	font-display: swap;
	src: url(../fonts/SF-Pro-Display-Regular.woff2) format('woff2'),
		url(../fonts/SF-Pro-Display-Regular.woff) format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: SF;
	font-display: swap;
	src: url(../fonts/SF-Pro-Display-Medium.woff2) format('woff2'),
		url(../fonts/SF-Pro-Display-Medium.woff) format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: SF;
	font-display: swap;
	src: url(../fonts/SF-Pro-Display-Semibold.woff2) format('woff2'),
		url(../fonts/SF-Pro-Display-Semibold.woff) format('woff');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: SFProText;
	font-display: swap;
	src: url(../fonts/SFProText-Bold.woff2) format('woff2'),
		url(../fonts/SFProText-Bold.woff) format('woff');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: SFProText;
	font-display: swap;
	src: url(../fonts/SFProText-Regular.woff2) format('woff2'),
		url(../fonts/SFProText-Regular.woff) format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: SFProText;
	font-display: swap;
	src: url(../fonts/SFProText-Semibold.woff2) format('woff2'),
		url(../fonts/SFProText-Semibold.woff) format('woff');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: Montserrat;
	font-display: swap;
	src: url(../fonts/Montserrat-SemiBold.woff2) format('woff2'),
		url(../fonts/Montserrat-SemiBold.woff) format('woff');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: SF;
	font-display: swap;
	src: url(../fonts/SF-Pro-Display-Bold.woff2) format('woff2'),
		url(../fonts/SF-Pro-Display-Bold.woff) format('woff');
	font-weight: 700;
	font-style: normal;
}
